<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
  <appSettings>
   <!--<add key ="NativeDependenciesAbsolutePath" value="C:\Program Files (x86)\HDF_Group\HDF5\1.8.17\bin" />-->
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
